{{- $pass := promptString "password" -}}
encryption = "gpg"

[gpg]
symmetric = true
args = ["--batch",
        "--passphrase", {{ $pass | quote }},
        "--quiet"]

{{ if eq .chezmoi.os "windows" }}
[edit]
command = "gvim"

[merge]
command = "gvimdiff"
{{ end }}
