{{ $passphrase := promptStringOnce . "passphrase" "passphrase" -}}
encryption = "gpg"

[data]
passphrase = {{ $passphrase | quote }}

[gpg]
symmetric = true
{{ if eq .chezmoi.os "windows" -}}
command = 'C:\Program Files\Git\usr\bin\gpg.exe'
{{ end -}}
args = [
  "--batch",
  "--passphrase", {{ $passphrase | quote }},
  "--quiet"
]

{{ if eq .chezmoi.os "windows" -}}
[edit]
command = "gvim"

[merge]
command = "gvimdiff"
{{ end -}}

# vim:ft=toml:
