{{- $pass := promptString "password" -}}
encryption = "gpg"

[gpg]
symmetric = true
args = ["--batch",
        "--passphrase", {{ $pass | quote }},
        "--no-symkey-cache",
        "--quiet"]

{{ if eq .chezmoi.os "windows" }}
[edit]
command = "C:/Program Files/Git/usr/bin/vim.exe"

[merge]
command = "C:/Program Files/Git/usr/bin/vimdiff.exe"
{{ end }}
