{{ if eq .chezmoi.os "windows" -}}
@echo off

setx POWERSHELL_TELEMETRY_OPTOUT 1 >nul
setx POWERSHELL_UPDATECHECK Off >nul
setx PYTHONSTARTUP %USERPROFILE%\Documents\Python\python_startup.py >nul

rem powershell -NoProfile -ExecutionPolicy Bypass ^
rem   -File %USERPROFILE%\Documents\Privoxy\startup_shortcut.ps1

<%APPDATA%\GHISLER\wincmd.ini chezmoi execute-template ^
  --with-stdin ^
  --file {{ joinPath .chezmoi.sourceDir "/.chezmoitemplates/wincmd_ini" }} ^
  --output %APPDATA%\GHISLER\wincmd.ini.new
move /y %APPDATA%\GHISLER\wincmd.ini.new %APPDATA%\GHISLER\wincmd.ini >nul

rem vim:ft=dosbatch:
{{ end -}}
