{{ if eq .chezmoi.os "windows" -}}
@echo off

setx POWERSHELL_TELEMETRY_OPTOUT 1 >nul
setx POWERSHELL_UPDATECHECK Off >nul
setx PYTHONSTARTUP %USERPROFILE%\Documents\Python\python_startup.py >nul

call :render_template ^
  "%APPDATA%\GHISLER\wincmd.ini" ^
  {{ joinPath .chezmoi.sourceDir ".chezmoitemplates/wincmd_ini" }}
call :render_template ^
  "%LOCALAPPDATA%\Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState\settings.json" ^
  {{ joinPath .chezmoi.sourceDir ".chezmoitemplates/WindowsTerminal" }}

pushd %APPDATA%\Mozilla\SeaMonkey\Profiles\Clean && rd /s /q . 2>nul && popd
call :render_template ^
  "%APPDATA%\Mozilla\SeaMonkey\profiles.ini" ^
  {{ joinPath .chezmoi.sourceDir ".chezmoitemplates/profiles_ini" }}
goto :eof

:render_template
type %1 | chezmoi execute-template --with-stdin --file %2 --output %1.new
move /y %1.new %1 >nul
goto :eof

rem vim:ft=dosbatch:
{{ end -}}
