[user]
	name = Jajauma's GitHub
	email = jajauma@2ch.hk

[core]
{{- if eq .chezmoi.os "windows" }}
	editor = gvim.bat --nofork --remote-wait-silent
{{- else }}
	editor = vim
{{- end }}
	abbrev = 7
	autocrlf = input
	longPaths = true

[log]
	decorate = short

[pull]
	ff = only

[push]
	autoSetupRemote = true

[gui]
	fontdiff = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8

[merge "keepassxc-cli-merge"]
	name = Merge KeePassXC databases
	driver = keepassxc-cli merge %A %B
