[user]
	name = Jajauma's GitHub
	email = jajauma@2ch.hk

[core]
{{- if eq .chezmoi.os "windows" }}
	editor = gvim --nofork --remote-wait-silent
{{- else }}
	editor = vim
{{- end }}
	autocrlf = input

[pull]
	ff = only

[push]
	autoSetupRemote = true

[gui]
	fontdiff = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8

[merge "keepassxc-cli-merge"]
	name = Merge KeePassXC databases
	driver = keepassxc-cli merge %A %B

[http "https://github.com"]
	proxy = socks5h://127.0.0.1:1080
